.fatfooter {
    @extend %clearfix;
    overflow: hidden;
    padding-bottom: 5em;
    margin: 0 auto;
    // background: $fatfooterBgColor;
    background: url(../images/bg_fatfooter.png) right bottom no-repeat $fatfooterBgColor;
    border-radius: 90px 90px 0 0;
    @include screen('mobile') {
        display: none;
    }
    .container {
        overflow: hidden;
        box-sizing: border-box;
        @include gutter;
    }
    // 按鈕
    .btn-fatfooter {
        font-size: .813em;
        display: block;
        width: 60px;
        height: 40px;
        color: #FFF;
        border: none;
        border-radius: 6px;
        background: transparent;
        position: absolute;
        left: 50%;
        top: 20px;
        z-index: 90;
        text-indent: -9999px;
        transform: translateX(-50%);
        &:before {
            content: "";
            position: absolute;
            width: 24px;
            height: 24px;
            border: 3px solid #222;
            border-left: none;
            border-bottom: none;
            left: 4px;
            top: 12px;
            transform: rotate(-45deg);
            transform-origin: top right;
            // transform-origin: center;
            // transition: .3s ease-out;
        }
        &:hover,
        &:focus {
            background: #7291BD;
            color: #fff;
            text-decoration: none;
            box-shadow: none;
            outline: none;
            border: none;
            cursor: pointer;
            &:before {
                border-color: #fff;
            }
        }
        &.close {
            &:before {
                transform: rotate(135deg) !important;
                top: 32px;
            }
        }
    }
    nav {
        // overflow: hidden;
        display: block;
        position: relative;
        padding: 6em 0 0;
        box-sizing: border-box;

        ul {
            display: flex;
            @include li-reset;

            li {
                flex:1 1 auto;
                flex-basis: calc(100% / 6);
                box-sizing: border-box;

                a {
                    line-height: 1.5;
                    display: block;
                    font-weight: bold;
                    padding: .5em 0px;
                    box-sizing: border-box;
                    color: #000;
                    &:hover{
                        box-shadow: none;
                    }
                }
                ul {
                    // display: flex;
                    // flex-direction:column;
                    // flex-wrap:wrap;
                    
                    // display: block;
                    display: none;
                    margin: 0;
                    padding:0 1em 0 0;                  
                    @include screen('mobile') {
                        width: auto;
                    }
                    li {
                        // flex: 0 0 100%;

                        a {
                            display: block;
                            @include aSetting_nocolor;
                            font-weight: normal;
                            text-align: left;
                            font-size: .938em;
                            line-height: 1.5em;
                            padding: .5em 0;
                            background: none;
                        }
                    }
                    //第三層關閉
                    ul {
                        display: none;
                    }
                }
            }
        }
    }
}

#mp{
    .fatfooter {
        nav {
            ul li ul{
                display: block;
            }
        }
    }
}