footer {
    @include clearfix;
    box-sizing: border-box;
    text-align: left;
    font-size: 0.813em;
    padding: 4em 0 3em;
    background: #021e36;
    .container {
        display: flex;
        max-width: 1000px;
    }
    p {
        line-height: 1.65em;
        color: #fff;
        a{
            color: $lightColor;
        }
    }
    // 瀏覽人次
    .counter {
        display: inline-block;
        margin-right: 5px;
        em {
            font-style: normal;
        }
    }
    a {
        text-decoration: none;
        color: #fff;
        &:hover,
        &:focus {
            color: $lightColor;
        }
    }
    // google map
    ._map{
        flex: 0 0 450px;
        iframe {
            width: 100%;
            height: auto;
            aspect-ratio: 4 / 3;
        }
    }
    // 資訊
    ._info{
        flex: 1 1 auto;
        padding-left: 3.6em;
    }
    // 標章
    ._tag{
        display: flex;
        align-items: flex-start;
        a{
            margin-right: 10px;
        }
        img {
            vertical-align: middle; /* 或 top, bottom, baseline */
        }
    }
    // 宣告連結
    ul._link{
        @include li-reset();
        margin-top: 1.25em;
        display: flex;
        li{
            position: relative;
            &:after{
                content: "";
                position: absolute;
                width: 1px;
                height: 14px;
                background: #fff;
                right: 0;
                top: 6px;
            }
            &:last-child{
                &:after{
                    display: none;
                }
            }
            a{
                padding: 2px 12px;
            }
            &:first-child{
                a{
                    padding-left: 0;
                }
            }
        }
    }
    // 內頁 footer
    &._type2{
        .container{
            display: block;
        }
        ul._link{
            margin-top: 0;
        }
        ._info{
            padding-left: 0;
            display: flex;
            justify-content: space-between;
            p{
                flex: 1 1 60%;
            }
            >div{
                flex: 1 1 40%;
            }
        }
        ._tag{
            justify-content: flex-end;
        }
    }
    @include screen('tablet') {
        .container {
            flex-wrap: wrap;
            justify-content: center;
            @include gutter(2em);
        }
        ._map{
            flex: 1 1 100%;
        }
        ._info{
            padding-left: 0;
            margin-top: 1.5em;
        }
    }
}