.lp {
    table {
        td {
            a {
                @include aSetting_nocolor;
            }
            // &.date {
            //     text-align: center;
            //     color: #666;
            //     @include screen('mobile') {
            //         text-align: left;
            //     }
            // }
            // &.num {
            //     text-align: center;
            //     color: #666;
            //     @include screen('mobile') {
            //         text-align: left;
            //     }
            // }
        }
    }
    .list {
        &>ul, ol {
            list-style-type: none;
            padding: 0;
            // border-top: 2px solid $primaryColor;
            &>li {
                padding: 1em 0;
                border-bottom: 1px solid #DDD;
                position: relative; // outline: 1px solid blue;
                .classify{
                    // 分類
                    display: flex;
                    align-items: center;
                    b{
                        padding: 0 1em;
                        font-weight: normal;
                        font-size: 85%;
                    }
                    span{
                        margin-right: 6px;
                        line-height: normal;
                    }
                }
                .tag {
                    // margin-left: 2em;
                    background: #eaf8fb;
                    color: #2f6db1;
                    padding: .35em 1em;
                    border-radius: 40px;
                    font-weight: bold;
                    font-size: .85em;
                }
                &>a {
                    display: block;
                    // padding-left: 2em;
                    position: relative;
                    line-height: 1.45em;
                    color: $color-word;
                    &:hover {
                        // color: $aHover;
                        h3, p{
                            color: $aHover;
                        }
                        // h3 + p{
                        //     color: #222;
                        // }
                    }
                    // .num {
                    //     width: 1.5em;
                    //     text-align: right;
                    //     position: absolute;
                    //     top: 0;
                    //     left: 0;
                    //     &:after {
                    //         content: ".";
                    //         display: inline-block;
                    //     }
                    // }
                    p{
                        margin: 1em 0;
                        font-size: 1.25em;
                        font-weight: bold;
                    }

                    .sub_title{
                        margin-bottom: 4px;
                        padding-bottom: 4px;
                        + p{
                            font-size: 1em;
                            margin: 0;
                            font-weight: normal;
                            // overflow: hidden;
                            // text-overflow: ellipsis;
                            // white-space: nowrap;
                        }
                    }
                }
                // 刪節號共用
                .sub_title{
                    + p{
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
                // span.dept {
                //     display: inline-block;
                //     font-size: .938em;
                //     @include screen("mobile") {
                //         display: block;
                //     }
                // }
                time {
                    display: block;
                    color: #222;
                    // font-size: .938em;
                    font-family: georgia;
                    border-right: 1px solid #ddd;
                    padding-right: 1em;

                    + span{
                        margin-left: 16px;
                    }
                }
            }
        }
    }
}

// LP3 的怪東西
.spot{
    color: red !important;
    font-size: 100% !important;
    font-style: normal;
}
.searchResult{
    // 左欄 搜尋結果
    ._resultnum{
        padding: .75em 1em;
        background: #266eb3;
        color: #fff;
        border-radius: 4px 4px 0 0;
        margin-bottom: 0;
        b{
            padding: 0 6px;
        }
    }
    ._resultItem{
        padding: 1em;
        background: #fff;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;

        &:last-child{
            border-bottom: 1px solid #ddd;
            border-radius: 0 0 4px 4px;
        }
        h3{
            margin-top: 0;
            margin-bottom: 12px;
        }
        ul{
            @include li-reset;
            li{
                display: flex;
                align-items: center;
                justify-content: space-between;
                a.num{
                    background: #eaf8fb;
                    padding: 5px 8px;
                    border-radius: 24px;
                    font-weight: bold;
                    &:hover, &:focus-visible{
                        background: $primaryColor;
                        color: #fff;
                    }
                }
            }
        }
    }
}

// .album {
//     margin: 1em auto;
//     ul {
//         @include li-reset;
//         display:flex;
//         flex-direction:row;
//         justify-content:flex-start;
//         align-items:stretch;
//         flex-wrap:wrap;
//         li{
//             flex:0 0 30%;
//             margin:0 1.66% 3%;
//             display:flex;
//             flex-direction:row;
//             align-content: stretch;
//             @include screen('tablet'){
//                 flex:0 0 46%;
//                 margin:0 2% 3%;
//             }
//             @include screen('mobile'){
//                 flex:0 0 96%;
//                 margin:0 3% 5%;
//             }
            
//         }
//     }
// }
