// .tabSet {
//     max-width: 100%;
//     margin: 1em auto;
//     overflow: hidden;
//     @extend %clearfix;
//     @include screen('mobile') {
//         width: auto;
//         height: auto !important;
//     }
// }
// .tabs {
//     position: relative;
//     // 原來h2
//     // &>.tabItem {
//     //     &.active>a {
//     //         background-color: $primaryColor;
//     //         color: #FFF;
//     //     }
//     //     float: left;
//     //     margin: 0;
//     //     padding: 0;
//     //     font-size:1em;
//     //     line-height: 1;
//     //     @include screen('mobile') {
//     //         float: none;
//     //         &>a {
//     //             width: 100% !important;
//     //             border-bottom: 1px solid #888;
//     //         }
//     //         &.active>a {
//     //             border-color: #bbb;
//     //         }
//     //     }
//     //     &>a {
//     //         display: block;
//     //         padding: 16px 0 14px;
//     //         text-align: center;
//     //         background-color: #aaa;
//     //         color: #fff;
//     //         font-weight: bold;
//     //         text-decoration: none;
//     //         @include text-overflow;
//     //         box-sizing: border-box;
//     //         &:hover {
//     //             background: $primaryColor;
//     //         }
//     //     }
//     // }
//     // 改button
//     &>.tabItem {
//         &.active {
//             background-color: $primaryColor;
//             color: #FFF;
//         }
//         float: left;
//         margin: 0;
//         padding: 0;
//         font-size:1em;
//         line-height: 1;
//         display: block;
//         padding: 16px 0 14px;
//         text-align: center;
//         background-color: #aaa;
//         color: #fff;
//         font-weight: bold;
//         text-decoration: none;
//         @include text-overflow;
//         box-sizing: border-box;
//         &:hover, &:focus {
//             background: $primaryColor;
//         }
//         @include screen('mobile') {
//             float: none;
//             width: 100% !important;
//             border-bottom: 1px solid #888;
//             &.active {
//                 border-color: #bbb;
//             }
//         }
//     }
// }
// //多組 可設定差異
// .example-2 {
//     .tabItem:hover {
//         background: $secondaryColor;
//     }
//     .tabItem.active {
//         background: $secondaryColor;
//     }
// }
// // 顯示content
// .active+.tabContent {
//     display: block;
// }
// .tabContent {
//     position: absolute;
//     top: auto;
//     left: 0;
//     right: 0;
//     clear: both;
//     padding: 30px 20px;
//     display: none;
//     @include screen('mobile') {
//         position: static;
//     }
//     ul {
//         @include li-reset;
//     }
//     li {
//         margin: 0 0 1.3em 0;
//         padding: 0;
//         line-height: 1.6;
//         border-bottom: 1px #CCC dashed;
//         @include screen('mobile') {
//             @include text-overflow();
//         }
//         a {
//             @include aSetting_nocolor;
//         }
//         time {
//             display: inline-block;
//             margin: 0 0 0 1em;
//             font-size: .813em;
//             color: #666;
//         }
//     }
// }
// .tabSet {
//   margin: 30px auto;

//   .tabItems {
//     display: flex;
//     flex-flow: row nowrap;
//     margin: 0 auto;

//     @include screen('mobile') {
//       display: none;
//     }

//     .item {
//       flex: 1 1 auto;
//       font-size: 1em;
//       height: 2.8em;
//       text-align: center;
//       border: none;
//       margin: 1px;
//       box-shadow: none;
//       background: #ddd;
//       cursor: pointer;

//       &:focus {
//         outline: 2px dashed #ff3e4d;
//       }

//       &:hover {
//         background: #cdd;
//       }

//       &.active {
//         cursor: default;
//         background-color: $primaryColor;
//         color: #fff;
//       }
//     }
//   }

//   .tabContent {
//     display: none;
//     position: relative;
//     box-shadow: #bbb 0 0 0 1px inset;

//     @include screen('mobile') {
//       display: block;
//     }

//     .content {
//       padding: 15px;
//       display: none;

//       @include screen('mobileMin') {
//         display: block !important;
//       }
//     }

//     a:focus {
//       //取代原有focus
//       border: 2px solid red;
//       outline: none;
//     }
//   }
// }

// .mobileTabBtn {
//   display: none;
//   width: 100%;
//   font-size: 1em;
//   height: 2.8em;
//   text-align: center;
//   border: none;
//   margin: 1px;
//   box-shadow: none;
//   background: #ddd;
//   cursor: pointer;

//   @include screen('mobile') {
//     display: block;
//   }

//   &:focus {
//     outline: 2px dashed #ff3e4d;
//   }

//   &:hover {
//     background: #cdd;
//   }

//   &.active {
//     cursor: default;
//     background-color: $primaryColor;
//     color: #fff;
//   }
// }

.tabSet {
  margin: 30px auto;
  // .tabItems {
  //   display: flex;
  //   flex-flow: row nowrap;
  //   margin: 0 auto;
  //   button {
  //     flex: 1 1 auto;
  //     font-size: 1em;
  //     height: 2.8em;
  //     text-align: center;
  //     border: none;
  //     margin: 1px;
  //     border-radius: 0;
  //     box-shadow: none;
  //     background: #ddd;
  //     cursor: pointer;
  //     &:hover {
  //       background: #cdd;
  //     }
  //     &:focus-visible {
  //       outline: none;
  //       box-shadow: 0 0px 0px 2px $aFocus inset;
  //       @include screen('mobile') {
  //         box-shadow: none;
  //       }
  //     }
  //     &.active {
  //       cursor: default;
  //       background: $colorPrimary;
  //       color: #fff;
  //     }
  //   }
  // }

  // .tabContent {
  //   display: none;
  //   position: relative;
  //   padding: 15px;
  //   box-shadow: #bbb 0 0 0 1px inset;
  //   &.active {
  //     display: block;
  //   }
  //   a:focus {
  //     outline: none;
  //     box-shadow: 0 0px 0px 2px $aFocus inset;
  //     @include screen('mobile') {
  //       box-shadow: none;
  //     }
  //   }
  // }

  // &.onMobile {
  //   .tabContent {
  //     display: block;
  //     box-shadow: none;
  //     padding: 0;
  //     .tabBtn {
  //       width: 100%;
  //       margin: 0 0 5px 0;
  //       &.active {
  //         background: $colorPrimary;
  //         color: #fff;
  //         border-color: $colorPrimary;
  //       }
  //     }
  //     a:focus {
  //       outline: none;
  //       box-shadow: 0 0px 0px 2px #1aadfa inset;
  //     }
  //   }
  //   .content {
  //     display: none;
  //     &.active {
  //       display: block;
  //     }
  //   }
  // }

  .tabItems {
    display: flex;
  }

  .modeBBtn,
  .tabBtn {
    flex: 1 1 auto;
    font-size: 1em;
    height: 3.2em;
    text-align: center;
    border: none;
    margin: 1px;
    border-radius: 3px;
    box-shadow: none;
    background: #fff;
    // box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    cursor: pointer;

    &:focus-visible {
      outline: none;
      box-shadow: 0 0px 0px 2px $aFocus inset;
    }

    &.active {
      cursor: default;
      background-image: linear-gradient(to right, #0f67b1 0%, #4491c8 100%);
      color: #fff;
    }
  }

  .tabContent {
    display: none;
    position: relative;
    padding: 15px;
    // border: #bbb 1px solid;

    @include screen('mobile') {
      padding: 0;
      margin-bottom: 10px;
      border: none;
    }

    &.active {
      display: block;
    }

    a:focus {
      outline: none;
      box-shadow: 0 0px 0px 2px $aFocus inset;

      @include screen('mobile') {
        box-shadow: none;
      }
    }

    .content {
      ul {
        margin: 0;
      }
    }
  }

  .modeBBtn {
    width: 100%;
    margin: 0;
    display: none;
  }

  &.modeB {
    .tabItems {
      display: none;
    }

    .tabContent {
      display: block;

      .content {
        display: none;

        &.active{
          display: block;
        }

        a:focus-visible {
          outline: $aFocus 2px solid;
        }
      }
    }

    .modeBBtn {
      display: block;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }
  }

  // ----------------------------------- Lize
  &._list{
    .tabBtn{
      background: transparent;
      border-radius: 40px;
      font-size: 1.125em;
      font-weight: bold;
      &:hover, &:focus-visible{
        background: #e6e6e6;
      }
      &.active {
        background-image: linear-gradient(to right, #0f67b1 0%, #4491c8 100%);
        color: #fff;
      }
    }
    .tabItems{
      background: #fff;
      border-radius: 40px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    .tabContent{
      padding: 1em 4em;
      time{
        color: #cb4f0e;
        margin-right: 30px;
        min-width: 100px;
      }
      ul{
        @include li-reset;
        li{
          border-bottom: 1px solid #9aa2a4;
          position: relative;
          &::before{
            content: '';
            position: absolute;
            width: 96px;
            height: 2px;
            background: #cb4f0e;
            bottom: 0;
          }
          a{
            display: flex;
            padding: 16px 0;
            color: #222;
            font-weight: bold;
            background: transparent;
            transition: .3s;

            &:hover, &:focus-visible{
              background: #fff;
            }
          }
        }
      }
    }
    @include screen('mobile') {
      .tabContent{
        margin-bottom: 0;
        padding: .5em 1em;
        ul{
          padding: 1em 1.75em;
          li{
            a{
              flex-wrap: wrap;
            }
          }
        }
        .modeBBtn{
          border-radius: 40px;
          font-size: 1.125em;
          font-weight: bold;
        }
      }
    }
  }
  &._slider{
    .tabItems{
      justify-content: center;
      width: 70%;
      margin: auto;
      background: #fff;
      border-radius: 40px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      .tabBtn{
        max-width: 50%;
        background: transparent;
        border-radius: 40px;
        font-size: 1.125em;
        font-weight: bold;
        &:hover, &:focus-visible{
          background: #e6e6e6;
        }
        &.active {
          background-image: linear-gradient(to right, #0f67b1 0%, #4491c8 100%);
          color: #fff;
        }
      }
    }
    @include screen('mobile') {
      .tabContent{
        margin-bottom: 0;
        padding: .5em 1em !important;

        .modeBBtn{
          border-radius: 40px;
          font-size: 1.125em;
          font-weight: bold;
        }
      }
    }
    // .tabContent {
    //   display: block;
    //   opacity: .4;
    //   &.active{
    //     opacity: 1;
    //   }
    // }
  }
  // sp8-1 填表步驟
  &._step{
    .tabItems{
      background: #d9d9d9;
      border-radius: 8px;
      overflow: hidden;
    }
    .tabContent {
      padding: 15px 0;
    }
    .tabBtn{
      font-size: 1.25em;
      height: 60px;
      background: transparent;
      &.active{
        background: #cb4f0e;
        position: relative;
        transition: .3s;
        &:after{
          content: '';
          position: absolute;
          // 對角線為60px的正方形寬高
          width: 42.43px;
          height: 42.43px;
          // background: green;
          background: #cb4f0e;
          border-bottom-right-radius: 6px;
          transform: rotate(-45deg);
          transform-origin: top right;
          right: 0;
          top: 0;
        }
      }

      &:last-child{
        &.active{
          &:after{
            background: #d9d9d9;
            right: auto;
            left: -41px;
          }
        }
      }
    }
    table{
      margin-bottom: 2em;
    }
    form{
      background: #edf7fa;
      padding: 1em 2em;
      border-radius: 8px;
    }
    .form_title{
      font-size: 1.45rem;
      color: #222;
      padding: 0;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      .necessary{
        margin: 0 6px;
      }
      > a{
        $size: 24px;
        // 稅務行事曆 modul開關
        font-size: 0;
        display: inline-block;
        width: $size;
        height: $size;
        border-radius: 50%;
        background: #7e7e7e;
        position: relative;
        z-index: 1;
        &:before{
          content: '？';
          position: absolute;
          color: #fff;
          width: $size;
          height: $size;
          line-height: $size;
          text-align: center;
          z-index: 1;
          font-size: 1rem;
        }
        &:hover, &:focus-visible{
          background: #333;
        }
      }
    }
    .form_grp{
      border-bottom-color: #a2a2a2;
      padding: 20px 0;
      &:last-child{
        border-bottom-color: transparent;
      }
    }
    .notice_info{
      margin-top: 0;
    }
    fieldset{
      width: 100%;
      margin: 12px 0 0;
      legend{
        font-size: 1.125em;
        font-weight: bold;
        color: #00478f;
      }
      fieldset{
        margin: 6px 0 6px 24px;
        legend{
          font-size: 1em;
          color: #333;
        }
      }
    }
    button{
      font-size: 1em;
    }
    .ctl_btns{
      margin: 2em 0;
      // button{
      //   padding: 0.45em 4em;
      // }
    }
    @include screen('mobile') {
      .modeBBtn{
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
      }
      .tabContent{
        padding: 0;
        .modeBBtn{
          margin-bottom: 1em;
        }
      }
    }
  }
}

a.btn_pop{
  $size: 24px;
  // 稅務行事曆 modul開關
  font-size: 0;
  display: inline-block;
  width: $size;
  height: $size;
  border-radius: 50%;
  background: #7e7e7e;
  position: relative;
  z-index: 1;
  margin-left: 4px;
  &:before{
    content: '？';
    position: absolute;
    color: #fff;
    width: $size;
    height: $size;
    line-height: $size;
    text-align: center;
    z-index: 1;
    font-size: 1rem;
  }
  &:hover, &:focus-visible{
    background: #333;
  }
}

// .infoTip{
//   color: #222;
//   background: #e5e5e5;
//   border-radius: 2px;
//   padding: 3px 12px;
//   margin: 2px 0 2px 12px;
//   box-shadow: rgba(255, 255, 255, 0.75) 0 0 0 1px;
//   position: relative;
//   z-index: 2;
//   &:before{
//     content: '';
//     position: absolute;
//     z-index: 1;
//     // 對角線長度為36px的正方形
//     width: 12px;
//     height: 12px;
//     background: #e5e5e5;
//     left: -12px;
//     top: 7px;
//     transform: rotate(-45deg);
//     transform-origin: right top;
//   }
//   b{
//     color:#cb4f0e;
//     padding: 0 4px;
//   }

//   // 預設隱藏
//   display: none;
// }

.infoTip{
  padding-left: 7px;
  margin: 5px 0;
  p{
    margin: 0;
    line-height: 1;
    color: #222;
    background: #e5e5e5;
    border-radius: 2px;
    padding: 6px 10px;
    display: inline-block;
    b{
      color:#cb4f0e;
      padding: 0 4px;
    }
  }
  span{
    display: block;
    font-size: 90%;
    color: #156cb2;
    font-weight: bold;
    padding-left: 10px;
  }
  // 預設隱藏
    display: none;
}

input:checked + .infoTip{
  display: block;
}