@charset "utf-8";
// 文章標題
h1.title,
h2.title {
    line-height: 1.25em;
    margin: .4em 0;
}
h2.title{
    border-bottom: 2px solid #000;
    padding-bottom: .5em;
    background: url(../images/icon_h2title.png) left 50% no-repeat;
    padding-left: 52px;
}
.title_mixBox{
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
    margin-bottom: 1em;
    border-bottom: 2px solid #000;
    h2.title{
        border-bottom: none;
        padding-bottom: 0;
        margin: 0;
        font-size: 2em;
    }
    .function_panel{
        margin: 0;
        padding: 0;
        flex-wrap: nowrap;
    }
    @include screen('mobile') {
        flex-wrap: wrap;
        h2.title{
            display: block;
            width: 100%;
            margin-bottom: 12px;
        }
        .function_panel{
            width: 100%;
        }
    }
}

.tip{
    // cp頁提醒欄
    // background: $importantColor;
    background: #e5f4f9;
    padding: 2em 3em;
    border-radius: 4px;
    p{
        margin: 10px 0;
    }
}

._sticky_rt{
    // cp 內容區塊右上方，btn 切換繳稅方式
    position: absolute;
    right: 0;
    top: -12px;
}

._content{
    // 行動支付繳稅 的內容區塊
    background: #f9f9f9;
    padding: 2em;
    margin-bottom: 2em;
}

._clear{
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

// .tt{ color: #222; }
.cp {
    position: relative;
    .pic {
        float: left;
        margin: 0px 1em 1em 0;
        width: auto;
        width: 45%;
        max-width: 400px;
        background: #F1F1F1;
        overflow: hidden;
        padding: .75em;
        img {
            float: none;
            width: 100%;
            margin: 0;
            display: block;
        }
        figcaption {
            text-align: center;
            display: block;
            font-size: .938em;
        }
        @include screen('mobile') {
            float: none;
            max-width: 100%;
            width: auto;
            margin: 0px auto;
            display: block;
            margin-bottom: .5em;
        }
    }
    table {
        background: #FFF;
    }
    img {
        &.float_left {
            float: left;
            margin: 0px 1em 1em 0;
            width: auto;
            max-width: 55%;
            @include screen('mobile') {
                float: none;
                max-width: 100%;
                margin: 0px auto;
            }
        }
        &.float_right {
            float: right;
            margin: 0px 0 1em 1em;
            width: auto;
            max-width: 55%;
            @include screen('mobile') {
                float: none;
                max-width: 100%;
                margin: 0px auto;
            }
        }
    }
    a {
        @include aSetting;
    }
}

// 檔案下載
// h3共用
.file_download,
.web_link,
.keyword,
._sliderBox{
    h3 {
        font-size: 1.5em;
        padding: 12px 0px 15px 0px;
        margin: 0.5em 0px 0.2em;
        border-bottom: 1px solid #222;
        + div,
        + ul{
            margin-top: 1.25em;
        }
    }
}

.file_download {
    width: 100%;
    margin: 0 auto 2em;
    @include clearfix();
    // h3 {
    //     font-size: 1.5em;
    //     padding: 12px 0px 15px 0px;
    //     margin: 0.5em 0px 0.2em;
    //     border-bottom: 1px solid $primaryColor;
    // }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    li {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        padding: .5em 0 .5em 1.5em;
        border-bottom: solid 1px #eee;
        &:before {
            content: '·';
            font-size: 2em;
            font-weight: bold;
            // width: 1em;
            height: 1em;
            position: absolute;
            top: .4em;
            left: .1em;
            color: #666;
        }
        .file_name {
            line-height: 1.8em;
            margin: .2em .5em .2em 0;
            color: #222;
            font-weight: bold;
            ~span {
                flex: 0 0 auto;
                margin: .2em;
                font-size: .875em;
                line-height: 1.5em;
                vertical-align: middle;
                color: #666;
                a {
                    color: #fff;
                    display: inline-block;
                    margin-right: 8px;
                }
            }
        }
        $fileType: doc,
        docx,
        odt,
        xls,
        xlsx,
        csv,
        ods,
        ppt,
        pptx,
        odp,
        zip,
        txt,
        mov,
        mp3,
        jpg,
        wmv,
        mp4,
        pdf,
        other;
        @each $fileType in $fileType {
            span.file_#{$fileType} {
                a {
                    color: #fff;
                    font-weight: bold;
                    padding: .2em .8em;
                    border-radius: 3px;
                    &:hover,
                    &:focus {
                        color: #fff;
                    }
                }
            }
        }
        span {
            &.file_doc,
            &.file_docx,
            &.file_odt {
                a {
                    background: #275cb7;
                    &:hover,
                    &:focus {
                        background: darken(#275cb7, 5%);
                    }
                }
            }
            &.file_xls,
            &.file_xlsx,
            &.file_csv,
            &.file_ods {
                a {
                    background: #387947;
                    &:hover,
                    &:focus {
                        background: darken(#387947, 5%);
                    }
                }
            }
            &.file_ppt,
            &.file_pptx,
            &.file_odp,
            &.file_pdf {
                a {
                    background: #c55a3b;
                    &:hover,
                    &:focus {
                        background: darken(#c55a3b, 5%);
                    }
                }
            }
            &.file_pdf {
                a {
                    background: #c00;
                    &:hover,
                    &:focus {
                        background: darken(#c00, 5%);
                    }
                }
            }
            &.file_zip {
                a {
                    background: #eb712e;
                    &:hover,
                    &:focus {
                        background: darken(#eb712e, 5%);
                    }
                }
            }
            &.file_txt,
            &.file_other {
                a {
                    background: #555;
                    &:hover,
                    &:focus {
                        background: darken(#555, 5%);
                    }
                }
            }
            &.file_mov {
                a {
                    background: #009999;
                    &:hover,
                    &:focus {
                        background: darken(#009999, 5%);
                    }
                }
            }
            &.file_mp3,
            &.file_mp4 {
                a {
                    background: #088ecc;
                    &:hover,
                    &:focus {
                        background: darken(#088ecc, 5%);
                    }
                }
            }
            &.file_jpg {
                a {
                    background: #6c29a4;
                    &:hover,
                    &:focus {
                        background: darken(#6c29a4, 5%);
                    }
                }
            }
            &.file_wmv {
                a {
                    background: #430a1f;
                    &:hover,
                    &:focus {
                        background: darken(#430a1f, 5%);
                    }
                }
            }
        }
    }
}

// 外部連結
.web_link {
    margin: 1em 0;
    @extend %clearfix;
    // h3 {
    //     font-size: 1.5em;
    //     padding: 12px 0px 15px 0px;
    //     margin: 0.5em 0px 0.2em;
    //     border-bottom: 1px solid $primaryColor;
    // }
    ol,
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0 !important;
    }
    li {
        position: relative;
        // padding: .5em 0;
        border-bottom: solid 1px #eee;
        margin: 0 !important;
        // padding-left: 1.5em;
        &:before {
            content: '·';
            font-size: 2em;
            font-weight: bold;
            // width: 1em;
            // height: 1em;
            position: absolute;
            top: 10px;
            left: .1em;
            color: #666;
        }
        a {
            display: block;
            padding: .5em 0;
            padding-left: 1.5em;
            transition: .3s;
            @include aSetting_nocolor;

            &:hover, &:focus-visible{
                background: #eee;
                padding-left: 2em;
            }
        }
    }
}

.publish_info {
    font-size: 0.875em !important;
    line-height: 1.5em;
    list-style: none;
    margin: 0 0 .7em 0;
    // border-left: solid 5px $primaryColor;
    padding: 0.5em 0;
    // background: #F2F2F2;
    display: flex;
    flex-wrap: wrap;
    @extend %clearfix;
    box-sizing: border-box;
    li {
        // flex: 1 1 calc(100% / 3);
        font-family: georgia;
        flex: 0 1 auto;
        margin-bottom: .5em;
        padding-right: 2em;
        @include screen('tablet') {
            flex: 1 1 calc(100% / 2);
        }
        @include screen('mobile') {
            flex: 1 1 calc(100% / 1);
        }
    }
}

// 關鍵字
.keyword{
    ul {
        line-height: 1.65em;
        margin: 20px 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        li {
            margin: 0;
            padding: 0 2px;
            flex: 0 0 auto;
        }
        a {
            display: block;
            background: $aFocus;
            color: #fff;
            padding: 6px 20px;
            margin: 3px 0;
            border-radius: 30px;

            &:hover, &:focus-visible{
                color: $aFocus;
                background: #fff;
                box-shadow: inset 0 0 0 2px $aFocus;
            }
        }
    }
}
// slider
._sliderBox{
    span.caption{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
    }
}