/////////////////////////////////////////////////////////以下為demo範例///
// 首頁區塊設定
// more按鈕
a.more {
    display: block;
    width: 10em;
    height: 2.5em;
    margin: 0.5em 0;
    padding-left: 1.4em;
    line-height: 2.5;
    color: $primaryColor;
    border: 1px solid #aeaeae;
    border-radius: 3px;
    color: #737373;
    background: url(../images/icon/icon_arrow_right.svg) right 14% top 50% no-repeat #fff;
    background-size: 12px 12px;
    transition: .3s;

    &:hover, &:focus-visible{
        color: #222;
        background: url(../images/icon/icon_arrow_right.svg) right 7% top 50% no-repeat #fff;
        background-size: 12px 12px;
    }
}

a.main_more{
    // mp 黑底白字＋icon
    display: inline-block;
    background: url(../images/icon_moreBtn.png) right 20px top 50% no-repeat, #000;
    color: #fff;
    padding: 0.75em 4em;
    border-radius: 30px;
    transition: .3s;

    &:hover, &:focus-visible{
        background: url(../images/icon_moreBtn.png) right 20px top 50% no-repeat, #d74600;
    }
}

a.sub_more{
    // 內頁 more
    display: inline-block;
    background: #ddd;
    color: #222;
    font-size: .9em;
    padding: .45em 2.5em;
    border-radius: 30px;
    transition: .3s;

    &:hover, &:focus-visible{
        color: #fff;
        background:  #d74600;
    }
}

// 範例：
// .demosection {
//     [class^='col'] {
//         border: 2px solid #fff;
//         background: #dedede;
//     }
// }

// 共用
._toptip{
    // 重要訊息
    position: absolute;
    width: 100%;
    max-width: 1440px;
    top: 0;
    z-index: 98;
    left: 50%;
    transform: translateX(-50%);
    .container{
        @include gutter(0);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    ._title{
        background: url(../images/icon_toptipTitle.png) 35px 50% no-repeat $importantColor;
        background-size: 26px 26px;
        color: #fff;
        margin: 0;
        padding: 16px 68px;
        padding-right: 120px; // 放按鈕
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    ._text{
        background: #f9ede7;
        padding: 16px 35px;
        line-height: 1.8;
    }
    .btn{
        position: absolute;
        font-size: 0;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        border: transparent;
        &._slideup{
            top: 9px;
            right: 64px;
            background: #222;
            &:before,
            &:after{
                content: '';
                position: absolute;
                background: #fff;
                transform: translate(-50% ,-50%);
            }
            &:before{
                // 水平
                width: 10px;
                height: 2px;
                left: 50%;
                transform-origin: center left;
                // transform: translate(-7px, -2px) rotate(45deg);
                transform: translate(-7px, 2px) rotate(-45deg);
            }
            &:after{
                // 垂直
                width: 2px;
                height: 10px;
                left: 50%;
                transform-origin: center left;
                // transform: translate(3px, -3px) rotate(45deg);
                transform: translate(3px, -4px) rotate(-45deg);
            }

            &._hide{
                &:before{
                    // transform: translate(-7px, 2px) rotate(-45deg);
                    transform: translate(-7px, -2px) rotate(45deg);
                }
                &:after{
                    // transform: translate(3px, -4px) rotate(-45deg);
                    transform: translate(3px, -3px) rotate(45deg);
                }
            }
        }
        &._close{
            top: 9px;
            right: 24px;
            background: #222;
            &:before,
            &:after{
                content: '';
                position: absolute;
                background: #fff;
                transform: translate(-50% ,-50%) rotate(45deg);
            }
            &:before{
                width: 16px;
                height: 2px;
                left: 50%;
            }
            &:after{
                width: 2px;
                height: 16px;
                top: 50%;
            }
        }
        opacity: .5;
        transition: .3s;
        &:hover, &:focus-visible{
            opacity: 1;
        }
    }
}

.mpSubTitle{
    font-size: 1.75em;
    text-align: center;
    margin-bottom: 50px;

    position: relative;
    &:after{
        content: '';
        position: absolute;
        width: 60px;
        height: 6px;
        background: $importantColor;
        bottom: -26px;
        left: 50%;
        transform: translateX(-50%);
    }
}
.videoZone,
.infoZone,
.linkZone,
.hotZone,
.activeZone,
.adZone{
    padding: 2em 0;
    // 背景位置控制
    background-size: cover;
    background-position: top center;
}


// 1 - slider
// 2 - 影音專區 2欄
.videoZone{
    .col {
        @include make-xs-column(12);
        @include make-sm-column(6);
        @include make-md-column(6);
        @include make-lg-column(6);
    }
    .mpSubTitle{
        text-align: left;
        margin: 0 0 30px;
        display: inline-block;
        &:after{
            bottom: 10px;
            left: inherit;
            transform: translateX(20%);
        }
    }
    ._YT{
        padding-right: 10px;
        > div{
            // 沒標題時
            padding-top: 53px !important;
        }
        .mpSubTitle + div{
            // 有標題時
            padding-top: 0 !important;
        }
        iframe{
            width: 100%;
            height: 320px;
        }
    }
    ._tax{
        padding-left: 10px;
        ul{
            // 沒標題時
            padding-top: 53px !important;
            li{
                flex: 0 1 48%;
            }
        }
        .mpSubTitle + ul{
            // 有標題時
            padding-top: 0 !important;
        }
    }
    // ._tax{
    //     padding-left: 10px;
    //     padding-top: 53px;
    //     ul{
    //         @include li-reset;
    //         display: flex;
    //         flex-wrap: wrap;
    //         justify-content: space-between;
    //         li{
    //             flex: 0 1 48%;
    //             margin-bottom: 12px;
    //             a{
    //                 // background: #000;
    //                 // background-color: #FFFFFF;
    //                 display: flex;
    //                 align-items: center;
    //                 background: linear-gradient(to right, #0f67b1 0%, #4491c8 100%);
    //                 color: #fff;
    //                 font-size: 1.35em;
    //                 border-radius: 4px;
    //                 overflow: hidden;
    //                 padding: .5em 1em;
    //                 img{
    //                     margin-right: 10px;
    //                 }
    //                 position: relative;
    //                 z-index: 1;;
    //                 &:after{
    //                     content: '';
    //                     position: absolute;
    //                     z-index: -1;
    //                     width: 0;
    //                     height: 100%;
    //                     left: 0;
    //                     top: 0;
    //                     background: $importantColor;
    //                     // background: darken(#0f67b1, 5);
    //                     transition: .3s;
    //                 }

    //                 &:hover, &:focus-visible{
    //                     // color: $primaryColor;
    //                     // background: #fff;
    //                     // box-shadow: 0 0 0 2px #222;
    //                     &:after{
    //                         width: 100%;
    //                     }
    //                 }
    //             }
    //         }
    //     }
    //     @include screen('mobile') {
    //         ul{
    //             li{
    //                 flex: 1 1 100%;
    //             }
    //         }
    //     }
    // }
}
// sp4 其他資訊 共用連結樣式，所以拖出來
.videoZone,
.otherLinks{
    ._tax{
        ul{
            @include li-reset;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            li{
                margin-bottom: 12px;
                a{
                    display: flex;
                    align-items: center;
                    background: linear-gradient(to right, #0f67b1 0%, #4491c8 100%);
                    color: #fff;
                    font-size: 1.35em;
                    border-radius: 4px;
                    overflow: hidden;
                    padding: .5em 1em;
                    
                    .icons{
                        // 預設、hover 兩張 icon
                        margin-right: 12px;
                        position: relative;
                        width: 60px;
                        height: 60px;
                        img{
                            position: absolute;
                            display: block;
                            width: 100%;
                            height: 100%;
                            max-width: 60px;
                            max-height: 60px;
                            &:first-child{}
                            &:last-child{
                                // 選取後的白色icon
                                opacity: 0;
                            }
                        }
                    }
                    position: relative;
                    z-index: 1;;
                    &:after{
                        // hover 刷色
                        content: '';
                        position: absolute;
                        z-index: -1;
                        width: 0;
                        height: 100%;
                        left: 0;
                        top: 0;
                        background: $importantColor;
                        transition: .3s;
                    }

                    &:hover, &:focus-visible{
                        .icons{
                            img{
                                &:first-child{
                                    opacity: 0;
                                }
                                &:last-child{
                                    // 選取後的白色icon
                                    opacity: 1;
                                }
                            }
                        }
                        &:after{
                            width: 100%;
                        }
                    }
                }
            }
        }
        @include screen('mobile') {
            ul{
                li{
                    flex: 1 1 100%;
                }
            }
        }
    }
}
.otherLinks{
    margin-bottom: 2em;
    ._tax{
        ul{
            li{
                flex: 0 1 32%;
                a{
                    // icon、文字置中
                    justify-content: center;
                }
            }
        }
        @include screen('mobile') {
            ul{
                li{
                    flex: 1 1 100%;
                }
            }
        }
    }
}


// 3 - 訊息專區 tab
.infoZone{}
// 4 - 專區 3連結
.linkZone{
    .container{
        div{
            display: flex;
            justify-content: space-evenly;
            a{
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 1.25em;
                color: #000;
                padding: .5em;
                border-radius: 6px;
                transition: .3s;
                img{
                    width: 100%;
                    height: 100%;
                    max-width: 330px;
                    max-height: 140px;
                }
                span{
                    font-weight: bold;
                    padding: 12px 0;
                }
                &:hover, &:focus-visible{
                    background: #fff;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                }
            }
        }
        @include screen('mobile') {
            div{
                flex-wrap: wrap;
                a{
                    flex: 1 1 100%;
                    margin-top: 20px;
                }
            }
        }
    }
}
// 5 - 熱門專區 一排4連結 + slider連結
.hotZone{}
// 12個主題
.topic_Link{
    display: flex;
    flex-wrap: wrap;
    .col{
        flex: 0 1 23%;
        margin: 0 1% 24px;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
        ._title{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 260px;
            background: #fff;
            font-size: 1.25em;
            img{
                width: 72px;
                height: 72px;
            }
        }
        position: relative;
        overflow: hidden;
        ._listlink{
            position: absolute;
            width: 100%;
            height: 260px;
            // overflow: scroll;
            overflow-y: auto;
            padding: 0 1.5em;
            top: 0;
            left: 100%;
            color: #fff;
            background-image: linear-gradient(180deg, #f16f2d 0%, #ce4734 100%);
            z-index: 1;
            transition: .3s;

            b{
                // 行內標題
                display: block;
                text-align: center;
                font-size: 1.25em;
                padding: 26px 0 12px;
                border-bottom: 1px solid #fff;
            }
            ul{
                @include li-reset;
                margin-bottom: 1.5em;
                li{}
            }
            a{
                display: block;
                text-align: center;
                padding: 4px 0;
                margin: 2px 0;
                color: #fff;
                border-radius: 6px;
                &:hover, &:focus-visible{
                    background: rgba(0,0,0,.65);
                }
            }
        }
        &:hover, &:focus-visible{
            cursor: pointer;
            box-shadow: none;
            ._listlink{
                left: 0;
            }
        }
    }
    @include screen('tablet') {
        .col{
            flex: 0 1 auto;
            flex: calc(100% / 3 - 2%);
            max-width: calc(100% / 3 - 2%);
        }
    }
    @include screen('mobile') {
        .col{
            flex: calc(100% / 2 - 2%);
            max-width: calc(100% / 2 - 2%);
        }
    }
    @include screen('xs_mobile') {
        justify-content: center;
        .col{
            flex: calc(100% - 4%);
            max-width: calc(100% - 4%);
        }
    }
}

// 6 - 熱門活動 tab 塞 slider
.activeZone{
    .container{
        @include gutter(0);
        // background: pink;
    }
    .prevSlider,
    .nextSlider{
        position: absolute;
        width: 60px !important;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
    }
    .prevSlider{
        // background: blue;
        background: url(../vendor/slick/icon_arrow_left_inverse.png) no-repeat center center rgba(0,0,0,.15);
        background-size: 50%;
        left: -20px;
    }
    .nextSlider{
        background: url(../vendor/slick/icon_arrow_right_inverse.png) no-repeat center center rgba(0,0,0,.15);
        background-size: 50%;
        right: -20px;
    }
    .tabContent{
        padding: 0 40px !important;
    }
    .tabSet{
        margin-bottom: 0;
    }

    @include screen('mobile') {
        .prevSlider{
            left: 0;
        }
        .nextSlider{
            right: 0;
        }
    }
}
.activeSlider,
.activeSliderS1,
.activeSliderS2{
    position: relative;
    ._item{
        text-align: center;
        padding: 1.5em 2em;
        margin: 50px auto 20px;

        position: relative;
        &:after{
            // 假背景，讓位給陰影
            content: '';
            position: absolute;
            width: 92%;
            height: 100%;
            border-radius: 4px;
            background: #fff;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 25px -10px;
            left: 4%;
            top: 0;
            z-index: -1;
        }
        .img-container{
            @include aspect-ratio(2,1); 
        }
        h4{
            font-size: 1.25em;
            font-weight: bold;
            text-align: center;
            height: 48px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
        }
        a{
            display: block;
            font-size: 1.125em;
            padding: 10px 20px;
            margin: 12px 0;
            border-radius: 40px;
            &._info{
                color: #222;
                background: #cce2f6;
                transition: .3s;
            }
            &._winner{
                color: #fff;
                background: #0f67b1;
                margin-bottom: 0;
                transition: .3s;
            }

            &:hover, &:focus-visible{
                &._info,
                &._winner{
                    color: #fff;
                    background: $importantColor;
                }
            }
        }
        @include screen('mobile') {
            padding: 2.5em 4em;
        }
    }
}
._tabslider{
    padding-top: 5em;
    background: #eee;
    position: relative;
    button.tabBtn{
        // position: absolute;
        // top: 0;
    }
    ._conten{}
}

// 7、8 - 網網相連、小廣告 adslider
.adZone{
    padding: 0 0 2em;
    // +.adZone{
    //     padding-top: 0;
    // }
}