/////////////////////////////////////////////////////////以下為demo範例///
// 首頁區塊設定
// more按鈕
a.more {
    display: block;
    width: 10em;
    height: 2.5em;
    margin: 0.5em 0;
    padding-left: 1.4em;
    line-height: 2.5;
    color: $primaryColor;
    border: 1px solid #aeaeae;
    border-radius: 3px;
    color: #737373;
    background: url(../images/icon/icon_arrow_right.svg) right 14% top 50% no-repeat #fff;
    background-size: 12px 12px;
    transition: .3s;

    &:hover, &:focus-visible{
        color: #222;
        background: url(../images/icon/icon_arrow_right.svg) right 7% top 50% no-repeat #fff;
        background-size: 12px 12px;
    }
}

// 範例：
.demosection {
    [class^='col'] {
        border: 2px solid #fff;
        background: #dedede;
    }
}