* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  &.noscroll {
    position: static !important;
    width: 100%;
    height: 100%;
    overflow: hidden !important;
    overflow-y: hidden !important;
    margin: 0;
    padding: 0;
  }
}

// 最外圍預設為100%
.wrapper {
  width: 100%;
  margin: 0px auto;

  @include screen('tablet') {
    padding-top: 60px;
    background: #FFF;
    overflow: hidden;
    overflow-y: auto;
  }
}

// scroll 樣式統一
body {
  overflow-y: auto;
  scrollbar-color: #000 rgba(0, 0, 0, 0.2);
  scrollbar-width: thin;
}
body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
body::-webkit-scrollbar-thumb {
  border-radius: 100px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #000;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(0, 0, 0, 0.1);
}

// 整體共用container樣式，請注意首頁切版頁面的整齊
.container {
  padding: 0;
  margin: 0 auto;
  max-width: $container-max; //請看_variable.scss

  @include gutter(2em);
}

.main {
  position: relative;
  margin: 0 auto;
  // 可先設定一個中央區塊最大寬，限制accesskey對齊
  h2 {
    line-height: 1.25em;
  }
  // 字級切換 與 .main 共用
  &.small_size {
    font-size: .938em;
  }
  &.large_size {
    font-size: 1.125em;
  }
}

// 懸停按鈕
.R_side_fixed{
  position: fixed;
  // right: calc((100% - 1200px) / 2 - 46px);
  right: 0;
  top: 28%;
  z-index: 97;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  $_size: 46px;
  a{
    display: flex;
    align-items: center;
    border-radius: $_size;
    color: #fff;
    position: relative;
    img{
      position: absolute;
      width: 36px;
      height: 36px;
      right: 4px;
      z-index: 2;
    }
    span{
      right: 0;
      opacity: 0;
      line-height: $_size;
      font-size: 0;
      background: #ce4734;
      padding: 0 23px 0 23px;
      border-radius: $_size;
      word-break: keep-all;
      overflow: hidden;
      transition: .3s;

      // opacity: 1;

    }
    &._tiptool{
      span{
        // background: pink;
        // position: absolute;
        color: #222;
        background: rgba(255,255,255,1);
        padding: 6px 12px;
        border-radius: 6px;
        width: 140px;
        right: 60px;
        font-size: .9em;
        line-height: 1.4;
        // opacity: 1;
        width: 36px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        b{
          color: $importantColor;
        }
        &:before{
          content: '';
          position: absolute;
          border: 4px solid #fff;
          right: -4px;
          top: 23px;
          transform: rotate(45deg);
        }
      }
      // position: absolute;
      // color: #222;
      // background: rgba(255,255,255,1);
      // padding: 6px 12px;
      // border-radius: 6px;
      // width: 140px;
      // right: 60px;
      // font-size: .9em;
      // line-height: 1.4;
      // b{
      //   color: $importantColor;
      // }
      // &:before{
      //   content: '';
      //   position: absolute;
      //   border: 4px solid #fff;
      //   right: -4px;
      //   top: 23px;
      //   transform: rotate(45deg);
      // }
    }
    transition: .3s;
    &:hover, &:focus-visible{
      width: auto;
      span{
        right: 0;
        opacity: 1;
        padding: 0 $_size 0 20px;
        width: 100%;
        font-size: 1.125em;
      }
      &._tiptool{
        span{
          padding: 6px 12px;
          width: 140px;
          font-size: .9em;
          line-height: 1.4;
          margin-right: 60px;
          &:before{
            right: 56px;
          }
        }
      }
    }

    &:first-child{
      margin-bottom: -3px;
      &:after{
        border-radius: 4px 0 0 0;
        padding-top: 10px;
      }
    }
    &:last-child{
      &:after{
        border-radius: 0 0 0 4px;
        padding-bottom: 10px;
      }
    }

    // 背景
    &:after{
      content: '';
      position: absolute;
      width: 46px;
      height: 46px;
      background: #fff;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px;
      right: 0;
      z-index: -1;
    }
  }
  // &::after{
  //   // 背景
  //   content: '';
  //   position: absolute;
  //   z-index: -1;
  //   right: -2px;
  //   top: -4px;
  //   width: calc($_size + 4px);
  //   height: calc($_size * 6 + 8px);
  //   background: #fff;
  //   border-radius: 4px;
  //   box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  // }
  @media screen and (max-width: 1300px) {
    right: 0;
  }
}

// 隱藏 slick-dots 黑點點
.slick-dots li button{
  width: 12px;
  height: 12px;
}
.slick-dots li button:before,
.slick-dots li button:hover:before,
.slick-dots li button:focus:before{
  opacity: 0;
}
.slick-dots li{
  margin: 0 5px !important;
}
.slick-dots li.slick-active,
.slick-dots li.slick-active button{
  width: 42px;
  border-radius: 30px;
}

// filter
// focus 配色
$bg_n1: #93ebff; 
$bg_n2: #aaffe3;
$bg_n3: #00ca62; 
$bg_n4: #99db00; 
$bg_n5: #efdf00; 
$bg_n6: #ff7739; 
$bg_n7: #e5beff;
._n1{ background: $bg_n1; }
._n2{ background: $bg_n2; }
._n3{ background: $bg_n3; }
._n4{ background: $bg_n4; }
._n5{ background: $bg_n5; }
._n6{ background: $bg_n6; }
._n7{ background: $bg_n7; }
.filter{
  padding: 1.25em 5em;
  background: #e6f6fb;
  border: solid 1px #dceaee;
  margin: 1em 0;
  border-radius: 6px;
  &._hide{
    display: none;
  }
  .btn_grp{
    padding: 0;
    margin-top: 1em;
    .btn{
      margin: .35em .1em;
      border-radius: 40px;
      padding: .65em 3em;

      &.btn-reset{
        background: #fff;
      }
    }
  }
  .flex-form{
    border-bottom: none;
    .form_grp{
      border-bottom: none;
      padding: 0;

      // 鋪滿欄位
      &._fill{
        // background: red;
        flex: 1 1 auto; /* 填滿整行 */
        input[type=text] {
          width: calc(100% + .45em);
        }
      }
    }
    .form_title{
      color: #222;
      font-size: 1.125em;
      font-weight: bold;
      max-width: initial;
      flex: 0 1 auto;
      // padding: 1em 0 .35em;
      padding: .75em 0 .25em;
      min-width: 90px;
      text-align: end;
    }
    .form_content{
      max-width: initial;

      &._fill{
        display: flex;
        input[type="text"]{
          flex: 1 1 auto;
        }
      }
    }
    &.form-column{
      .form_title{
        // background: red;
        min-width: auto;
        text-align: left;
        // margin: 0 4px;
      }
    }
    &.form_inline{
      .form_title{
        // background: pink;
        min-width: auto;
        // text-align: left;
        // margin: 0 4px;
      }
    }
  }
  select{
    // padding: .75em 2em .75em 1.25em;
    padding: .5em 2em .5em 1em;
    background-position: right 8px top 50%;
  }
  // checkbox be btn
  .radio_grp,
  .check_grp{
    .btn{
      max-width: 100%;
      border-radius: 4px;
      padding: 12px 20px;
      margin: 2px 4px !important;
      // color: #222;
      background: transparent;
      border-radius: 6px;
      border-color: transparent;

      input+span{
        // color: deepskyblue;
        white-space: normal;
        text-align: left;
      }

      + a{
        // 稅務行事曆 modul開關
        font-size: 0;
        display: inline-block;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        // background: #ce4734;
        background: #7e7e7e;
        margin-left: -12px;
        position: relative;
        z-index: 1;
        &:before{
          content: '？';
          position: absolute;
          color: #fff;
          width: 28px;
          height: 28px;
          line-height: 28px;
          text-align: center;
          z-index: 1;
          font-size: 1.25rem;
        }

        &:hover, &:focus-visible{
          background: #333;
        }
      }

      // checked style。input 選取框鋪在『標籤文字』下
      position: relative;
      // overflow: hidden;
      input[type=radio],
      input[type=checkbox]{
        // opacity: .5;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        color: #222;
        background: #cce2f6;
        border: none;
        border-radius: 6px;
        margin: 0;
        left: 0;

        &:checked,
        &:focus {
          color: #fff;
          background-image: none;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 100%;
          box-shadow: none;

          // checked 背景色
          background-image: linear-gradient(to right, #0f67b1 0%, #4491c8 100%);

          +span.icons+span,
          +span{
            // 『標籤文字』
            color: #fff;
          }

          // checked 狀態圓圈
          &~span {
            &:after {
              background: $aFocus;
              opacity: 0; // 隱藏
            }
          }
        }

        &:focus{
          // 鍵盤遊走
          box-shadow: 0 0 0 3px #ce4734
        }

        // 使用牌照稅
        &._n1{
          &:checked, &:focus {
            background: $bg_n1;
          }
        }
        &._n2{
          &:checked, &:focus {
            background: $bg_n2;
          }
        }
        &._n3{
          &:checked, &:focus {
            background: $bg_n3;
          }
        }
        &._n4{
          &:checked, &:focus {
            background: $bg_n4;
          }
        }
        &._n5{
          &:checked, &:focus {
            background: $bg_n5;
          }
        }
        &._n6{
          &:checked, &:focus {
            background: $bg_n6;
          }
        }
        &._n7{
          &:checked, &:focus {
            background: $bg_n7;
          }
        }
        &._n1, &._n2, &._n3, &._n4, &._n5, &._n6, &._n7{
          &:checked, &:focus {
            +span.icons+span,
            +span{
              // 『標籤文字』
              color: #222;
            }
          }
        }  
      }

      span.icons{
        // 可替換 icon 的 checkbox
        margin-right: 6px;
        position: relative;
        width: 24px;
        height: 24px;
        min-width: 24px;
        img{
          position: absolute;
          display: block;
          width: 100%;
          height: 100%;
          &:first-child{}
          &:last-child{
            // 選取後的白色icon
            opacity: 0;
          }
        }
        +span{
          // background: #000;
          // color: red;
          white-space: normal;
          text-align: left;
        }
      }

      input[type=radio]:hover + span.icons,
      input[type=radio]:focus + span.icons,
      input[type=radio]:checked + span.icons
      input[type=checkbox]:hover + span.icons,
      input[type=checkbox]:focus + span.icons,
      input[type=checkbox]:checked + span.icons{
          img{
            opacity: 0;
            &:first-child{
              opacity: 0;
            }
            &:last-child{
              // 選取後的白色icon
              opacity: 1;
            }
          }
      }

      &:hover{
        color: #fff;
        input[type=radio],
        input[type="checkbox"]{
          background-image: linear-gradient(to right, #0f67b1 0%, #4491c8 100%);
        }
        input[type=radio] + span.icons,
        input[type=checkbox] + span.icons{
          img{
            opacity: 0;
            &:first-child{
              opacity: 0;
            }
            &:last-child{
              // 選取後的白色icon
              opacity: 1;
            }
          }
        }
      }
      // &:focus{
      //   input[type="checkbox"]{
      //     box-shadow: 0 0px 0px 2px #ce4734
      //   }
      // }
      // &:focus, &:focus-visible,
      // &._checked{
      //   color: #fff;
      //   background: $aFocus;
      // }
    }
  }
  // 樣式2 - sp4
  &._tag{
    background: #f3f3f3;
    // padding: 0;
    ._flex{
      // checkbox 與 tip 對齊
      display: flex;
      align-items: center;
    }
    .btn{
      input[type=radio],
      input[type=checkbox]{
        border-radius: 30px;
      }
    }
    // 單選
    .category{
      ul{
        display: flex;
        flex-wrap: wrap;
        li{
          position: relative;
          display: flex;
          align-items: center;
          float: none;
        }
      }
      a{
        padding: 10px 20px;
        margin: 2px 4px !important;
        border-radius: 30px;
        background: #cce2f6;
        border-color: transparent;
        &.tip{
          font-size: 0;
          width: 28px;
          height: 28px;
          border-radius: 50%;
          background: #7e7e7e;
          margin: auto !important;
          margin-left: -12px !important;
          padding: inherit;
          position: relative;
          z-index: 1;
          &:before{
            content: '？';
            position: absolute;
            color: #fff;
            width: 28px;
            height: 28px;
            line-height: 28px;
            text-align: center;
            z-index: 1;
            font-size: 1.25rem;
          }
        }
        &:hover, &:focus-visible,
        &.active{
          background: linear-gradient(to right, #0f67b1 0%, #4491c8 100%);

          &.tip{
            background: #333;
          }
        }
      }
      // a.tip{
      //   font-size: 0;
      //   width: 28px;
      //   height: 28px;
      //   border-radius: 50%;
      //   background: #7e7e7e;
      //   margin-left: -12px;
      //   position: relative;
      //   z-index: 1;
      //   &:before{
      //     content: '？';
      //     position: absolute;
      //     color: #fff;
      //     width: 28px;
      //     height: 28px;
      //     line-height: 28px;
      //     text-align: center;
      //     z-index: 1;
      //     font-size: 1.25rem;
      //   }
      // }
    }
  }
  @include screen('tablet') {
    padding: 1.25em 2.5em;
    .flex-form{
      // .form_title{
      //   text-align: left;
      // }
      // &.form-column{
      //   .form_title{
      //     background: red;
      //   }
      // }
      &.form_inline{
        //    width: 100%;
        .form_grp{
          width: 100%; 
          .form_title{
            // background: pink;
            min-width: 90px;
            justify-content: flex-end;
          }
        }
        select, input{
          width: -webkit-fill-available;
        }
      }
    }
  }
  @include screen('mobile') {
    .flex-form{
      .form_title{
        text-align: left;
      }
      &.form_inline{
        .form_grp{
          .form_title{
            min-width: auto;
            justify-content: flex-start;
          }
        }
      }
    }
  }
}

// 查詢結果文字
.result_note{
  padding: 1em;
  p{
    font-weight: bold;
    font-size: 1.5em;
  }
}

// 月份
.month{
  display: flex;
  flex-wrap: wrap;

  &._center{
    justify-content: center;
  }
  
  > div{
    flex: 0 1 23%;
    // background: pink;
    margin: 0 1% 30px;
    background: #f7f7f7;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    border-radius: 6px;
    overflow: hidden;

    h3{
      text-align: center;
      color: #fff;
      background: #737373;
      margin: 0;
      padding: .75em 0;
    }
    ul{
      @include li-reset;
      padding: 1em 0;
      li{
        padding: 10px 20px 10px 40px;
        position: relative;
        &::before{
          content: '';
          position: absolute;
          left: 24px;
          top: 20px;
          width: 6px;
          height: 6px;
          background: #222;
          border-radius: 50%;
        }
      }
    }
  }

  @include screen('tablet') {
    > div{
      flex: 0 1 48%;
    }
  }
  @include screen('mobile') {
    > div{
      flex: 2 1 100%;
    }
  }
}

// view_switch
.view_switch{
  display: flex;
  justify-content: flex-end;

  .btn{
    padding: 0.5em 2em;
    border-radius: 30px;

    &.btn-secondary{
      color: #333 !important;
      border-color: #ddd !important;
      &:hover, &:focus, &:focus-visible{
        background: #fff !important;
        border-color: #333 !important;
      }
    }

    &._act{
      // background: linear-gradient(to right, #0f67b1 0%, #4491c8 100%) !important;
      background: $importantColor !important;
      // border-color: darken($importantColor, 5) !important;
      color: #fff !important;
      &:hover, &:focus, &:focus-visible{
        background: $importantColor !important;
        border-color: $importantColor !important;
      }
    }
  }
}

// 複查案例 case
.case{
  ._head{
    background: $primaryColor;
    color: #fff;
    border-radius: 10px 10px 0 0;
    padding: .65em 2.5em;
    display: flex;
    h3{
      font-size: 1.125em;
      margin: 4px 0;
      padding-right: 20px;
      flex: 0 1 auto;
      word-break: keep-all;
    }
    ._inner{
      flex: 1 1 auto;

      display: flex;
      align-items: center;
      ._info{
        span, time{
          font-size: 1em;
          padding: 0 12px;
          word-break: keep-all;
        }
      }
      ._tag{
        padding-left: 12px;
        span{
          display: inline-block;
          font-size: .9em;
          font-weight: bold;
          color: #fff;
          word-break: keep-all;
          background: rgba(255,255,255,.35);
          padding: 4px 12px;
          border-radius: 30px;
        }
      }
    }

    + ._content::before{
      // 清除 lp2 _content 的裝飾線
      display: none;
    }
  }
  ._content{
    margin-bottom: 1em;
    padding: 1em 2em 1.5em;
    border-radius: 0 0 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    ._item{
      display: flex;
      padding: 6px 0;
      h4{
        font-size: 1em;
        margin: 0;
        flex: 0 1 auto;
        word-break: keep-all;
        padding-right: 12px;
        min-width: 80px;
        text-align: right;
      }
      p{
        font-size: 1em;
        // line-height: 1.4;
        margin: 0;
        // display: -webkit-box;
        // -webkit-box-orient: vertical;
        // -webkit-line-clamp: 5;
        // overflow: hidden;
        &.clamp{
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 5;
          overflow: hidden;
        }
      }
    }
  }
  .btn_grp{
    justify-content: flex-end;
    padding-bottom: 0;
  }
  .main_more{
    padding: .5em 3em;
  }

  @include screen('tablet') {
    ._head{
      ._inner{
        // background: #000;
        flex-wrap: wrap;
        ._tag{
          span{
            margin-top: 3px;
          }
        }
      }
    }
  }
} 

// 我要申辦 卡牌
.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  $num: 2;
  .slice{
    margin: 0 20px 50px;
    padding: 2em 1.5em;
    flex: 0 1 auto;
    // flex-basis: calc(100% / $num - 10px);
    // max-width: calc(100% / $num - 40px);
    flex-basis: calc(46% - 40px);
    max-width: calc(46% - 40px);
    background: #fff;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 16px;
    // 兩欄
    .state{
      display: flex;
      justify-content: space-between;
      .icons{
        display: flex;
        > div{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 42px;
          height: 42px;
          margin-right: 4px;
          background: #fff;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          border-radius: 50%;
        }
        img{
          width: 24px; 
          height: 24px;
        }
      }
      .link{}
    }
    // 標題
    h4{
      border-bottom: 1px solid #000;
      padding-bottom: 6px;
      font-size: 1.375em;
      line-height: 1.4;
    }
    h5{
      font-size: 1em;
      margin-bottom: 0;
      color: #666;
      flex: 0 1 90px;
      min-width: 90px;
    }
    .method{
      // 辦法
      .ctl{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ddd;
        h6{
          margin: 4px 0;
          font-size: 1.125em;
          line-height: 2;
          a{
            color: #222;
            &:hover, &:focus-visible{
              color: $importantColor;
            }
          }
        }
        .btn{}
      }
      .content{
        display: none;
        background: #f9f9f9;
        border-bottom: solid 1px #ddd;
        padding: .5em 1.5em;
        .method{
          margin-top: 10px;
          .ctl{
            border-color: transparent;
          }
          ul.links{
            padding-top: 0;
          }
        }
      }
      ul.links{
        @include li-reset;
        display: flex;
        padding: 10px 0 0;
        // display: none;
        li{
          flex: 0 0 auto;
          margin-bottom: 4px;
          a{
            display: inline-block;
            font-size: .9em;
            color: #fff;
            background: linear-gradient(to right, #0f67b1 0%, #4491c8 100%);
            padding: 4px 30px;
            margin-right: 4px;
            border-radius: 3px;

            &:hover, &:focus-visible{
              background: $importantColor;
            }
          }
          > span{
            display: inline-block;
            font-size: .9em;
            font-weight: bold;
            color: #222;
            background: #cce2f6;
            padding: 4px 30px;
            margin-right: 4px;
            border-radius: 3px;
          }
        }
      }
    }
    .download{
      display: flex;
      padding-top: 16px;
      h5{
        margin: 0;
      }
      ul.file{
        // 檔案下載
        display: flex;
        padding: 0;
        // padding-left: 1px;
        li{
          flex: 0 0 auto;
          margin-bottom: 4px;
          a{
            padding: 0 12px;
            border-radius: 4px;
            background: #666;
            color: #fff;
            font-weight: bold;
            margin-right: 2px;

            &:hover, &:focus-visible{
              background: $primaryColor;
            }
          }
          > span{
            padding: 0 12px;
            border-radius: 4px;
            background: #cce2f6;
            color: #222;
            font-weight: bold;
            margin-right: 2px;
          }
        }
      }
    }
  }
  @include screen('tablet') {
    .slice{
      flex: 1 1 100%;
      flex-basis: 100%;
      max-width: 100%;
    }
  }
  @include screen('mobile') {
    .slice{
      margin: 0 0 50px;
      .state{
        flex-wrap: wrap;
        .icons{
          margin-bottom: 6px;
        }
      }
    }
  }
}

// 進階搜尋 lp3
.search_state{
  display: flex;
  justify-content: center;
  background: #fff;
  padding: 3px;
  border-radius: 40px;
  box-shadow: darken($primaryColor, 2) 0 0 0 1px;
  a{
    flex: 1 1 50%;
    display: block;
    border-radius: 30px;
    padding: 12px 20px;
    font-weight: bold;
    text-align: center;
    background: #fff;

    &:hover, &:focus-visible{
      background: #eee;
    }

    &.act{
      color: #fff;
      background: darken($primaryColor, 5)
    }
  }
}

// 節稅健檢
.QA_game{
  padding-bottom: 17em;
  background-position: 50% bottom;
  background-size: 100% auto;
  background-repeat: no-repeat;
  h3.Qtitle{
    font-size: 1.75em;
    margin: 1.65em 0 1em;
    line-height: 1.2;
    b{
      color: $importantColor;
    }
    + p{
      font-size: 1.125em;
      b{
        color: $importantColor;
      }
    }
  }
  .tip{
    padding: .75em 2em;
  }
  .options{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 3em 0;
    .btn{
      flex: 0 1 auto;
      color: #fff;
      font-size: 1.35em;
      padding: 1em 3em;
      border-radius: 3em;
      background-image: linear-gradient(to right, #0f67b1 0%, #4491c8 100%);
      // position: relative;
      // &:after{
      //   content: '';
      //   position: absolute;
      //   width: 100%;
      //   height: 100%;
      //   background: pink;
      //   left: 0;
      //   top: 0;
      // }

      &:hover,
      &.act{
        background: $importantColor;
      }
    }
  }
  .finished{
    background: rgba(255,255,255,.75);
    padding: 2em;
    text-align: center;
    h3.Qtitle{
      color: darken($primaryColor, 5);    
    }
    p{
      font-size: 1.125em;
      line-height: 1.6;
    }
  }
  @include screen('mobile'){
    padding-bottom: 8em;
    .tip{
      padding: 0.75em 1em;
    }
    .options{
      padding: 1em 0;
      .btn{
        flex: 1 1 100%;
      }
    }
  }
}
.ctl_btns{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  button{
    padding: .75em 2em;
    letter-spacing: 1px
  }
  @include screen('tablet') {}
}

// errorPage
.errorPage{
  text-align: center;
  h2{
    margin: 1.65em 0 1em;
    font-size: 1.5em;
  }
  p{
    line-height: 1.6;
    font-size: 1.125em;
  }
  a{
    text-decoration: underline;
    text-underline-offset: 6px;
    font-weight: bold;
    transition: .3s;
    &:hover, &:focus-visible{
      color: $importantColor;
    }
  }
}

// 試算
.TrialCalc{
  h3.title{
    font-size: 1.75em;
    margin: 1.65em 0 .5em;
    line-height: 1.2;
    text-align: center;
    + p{
      text-align: center;
      font-size: 1.125em;
      font-weight: bold;
      color: #666;
    }
  }
  .item{
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin: 2.5em 0;
    a{
      font-size: 1.25em;
      font-weight: bold;
      color: #222;
      background: #eaeaea;
      padding: 1em .75em;
      width: 300px;
      border: 1px solid #fff;
      text-align: center;
      transition: .3s;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &:hover, &:focus-visible{
        background: #c8eaff;
      }
      &.act{
        color: #fff;
        background-image: linear-gradient(to left, #2e84b9 0%, #0f67b1 100%);
      }
      &:first-child{
        border-radius: 10px 0 0 10px;
      }
      &:last-child{
        border-radius: 0 10px 10px 0;
      }
      span{
        font-size: 67%;
        // font-weight: normal;
      }
    }
  }
  .functionLink{
    width: 80%;
    margin: 3em auto;
    display: flex;
    justify-content: space-between;
    >div{
      flex: 0 1 48%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      a{
        position: relative;
        span{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 250px;
          height: 100px;
          font-size: 1.25em;
          line-height: 1.4;
          font-weight: bold;
          color: #fff;
          background: rgba(0,0,0,.75);

          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50% ,-50%);
        }
        img{
          display: block;
        }
        transition: .3s;
        &:hover, &:focus-visible{
          box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
        }
      }

    }
    a.btn{
      border-radius: 8px;
      width: 100%;
      margin: 1em 0;
      padding: .75em 2em;
    }
    .note{
      width: 100%;
      h4{
        margin: 0 0 .5em;
      }
    }
  }

  @include screen('tablet'){
    .functionLink{
      flex-direction: column;
    }
  }
  @include screen('mobile'){
    .item{
      flex-direction: column;
      a{
        width: 100%;
        border-radius: 10px;
        &:first-child,
        &:last-child{
          border-radius: 10px 10px 10px 10px;
        }
      }
    }
  }
}
.tips{
  // background: #eee;
  background: #fff;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  padding: 2em 4em;
  margin: 2em 0;
  ul, ol{
    padding-left: 30px;
    color: #cb4f0e;
  }
  @include screen('tablet') {
    padding: 1em 2em;
  }
}
ol.cjk{
  list-style: cjk-decimal;
  ol.cjk{
    margin: 4px 0;
    li::marker {
      content: "（" counter(list-item, cjk-ideographic) "）";
    }
  }
}

// 
input[type="text"]{
  &._width120{
    max-width: 100px;
  }
}

// 資訊展開
.infoDisclosure{
  width: 100%;
  margin: 0 .25em;
  .btn{}
  section{
    margin: 0 .25em;
    background: #fff;
    padding: 1em 2em;
    h3{
      margin: 0 0 10px;
    }
    display: none;
    &.show{
      display: block
    }
  }
}
// 試算結果
// .calcResult{
//   .calcBox{
//     display: flex;
//     justify-content: center;
//     .col{
//       flex: 0 0 22%;
//       padding: 8px;
//       background: #fff;
//       border: 1px solid #ddd;
//       margin: 0 10px;
//       text-align: center;
//       h3{
//         margin: 0;
//         padding: .5em;
//         background: #eae9e8;
//       }
//       span{
//         display: block;
//         padding: 1em 0;
//         b{
//           color: $primaryColor;
//           font-size: 1.875em;
//           margin: 0 4px;
//         }
//       }
//     }
//     span.operator{
//       // 運算符號
//       font-size: 1.5em;
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       padding: 0 2px;
//     }
//     + .calcBox{
//       margin-top: 20px;
//     }
//     &._formula{
//       // 土地增值稅公式
//       justify-content: flex-start;

//       &._diverse{
//         // 多重運算
//         .col{
//           flex: 1 1 auto;
//           span{
//             b{
//               font-size: 1.5em;
//             }
//           }
//         }
//         section{
//           display: flex;
//           margin: 0 2px;
//         }
//       }
//     }

//     @include screen('tablet') {
//       flex-wrap: wrap;
//       justify-content: flex-start;
//       .col{
//         &:first-child{
//           flex: 1 1 100%;
//         }
//         flex: 0 0 auto;
//         flex-basis: calc(100% - 50px);
//         margin: 10px 0;
//       }
//       span.operator{
//         flex: 0 0 auto;
//         min-width: 50px;
//       }
//       &._formula{
//         // 土地增值稅公式
//         &._diverse{
//           // 多重運算
//           .col{
//             &:first-child{
//               flex: 1 1 100%;
//             }
//           }
//           // span.operator{
//           //   min-width: 40px;
//           // }
//           section{
//             flex: 1 1 auto;
//             flex-basis: calc(100% - 90px);
//           }
//         }
//       }
//     }
//   }
//   a#openModal{
//     background: #222;
//     color: #fff;
//     padding: 6px 20px;
//     margin: 0 10px 10px;
//     border-radius: 20px;
//     display: inline-block;
//   }
// }
.calcResult{
  .carProject{
    // 牌照稅自用、營業
    text-align: center;
    margin: 2em 0;
    h3{
      font-size: 1.35em;
      line-height: 1.4;
      margin: 0 0 1em;
    }
    span{
      b{
        color: $primaryColor;
        font-size: 1.875em;
        margin: 0 4px;
      }
    }
  }
  .calcBox{
    display: flex;
    justify-content: center;

    padding: 1.25em 0;
    .col{
      margin-left: 10px;
      text-align: center;
      flex: 0 1 auto;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      &:first-child{
        // 第一欄：運算結果 父層
        flex: 0 0 240px;
        margin: 0;
      }
      .box{
        padding: 8px;
        margin: 0 4px;
        background: #fff;
        border: 1px solid #ddd;
        h3{
          margin: 0;
          padding: .5em;
          background: #eae9e8;
          span{
            display: inline-block;
            margin: 4px 0 0 4px;
            padding: 0;
            background: #fff;
            font-size: 80%;
            padding: 3px 8px;
            border-radius: 20px;
          }
          b{
              background: $primaryColor;
              color: #fff;
              width: 26px;
              border-radius: 50%;
              display: inline-block;
              margin-right: 6px;
            }
        }
        span{
          display: block;
          padding: 1em 0;
          b{
            color: $primaryColor;
            font-size: 1.875em;
            margin: 0 4px;
          }
        }
        &._calcResult{
          width: 100%;
          margin: 0;
          border-color: $primaryColor;
          h3{
            color: #fff;
            background: $primaryColor;
            span{
              // color:$primaryColor;
              color: #fff;
              background: #4f8ae9;
            }
            b{
              background: #fff;
              color: $primaryColor;
            }
          }
        }
        + a{
          display: block;
          width: 100%;
          background: #666;
          color: #fff;
          padding: 8px 6px;
          border-radius: 24px;
          margin: 12px 0;
          transition: .3s;
          &:hover, &:focus-visible{
            background: $importantColor;
          }
        }
      }
      section{
        display: flex;
        align-items: center;
        margin: 4px 0;
      }
    }
    span.operator{
      // 運算符號
      font-size: 1.5em;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 2px;
    }
    + .calcBox{
      margin-top: 20px;
    }
    &._left{
      // 土地增值稅公式
      justify-content: flex-start;
    }
    &._top{
      align-items: flex-start;
      justify-content: flex-start;
      .col{
        // 項目銬上對齊
        align-items: flex-start;
      }
    }

    @include screen('tablet') {
      flex-direction: column;
      .col{
        &:first-child{
        // 第一欄：運算結果 父層
          flex: 1 1 100%;
          width: 100%;
          margin-bottom: 12px;
        }
      }
    }
  }
}
.formula{
  // 算式
  background: #eee;
  padding: 2em;
  margin-bottom: 20px;
}
// 地價稅
.landList{
  display: flex;
  .col{
    flex: 1 1 auto;
    &:last-child{
      flex: 0 0 420px;
      padding: 0 1em;
    }
  }
  .addZone{
    // 土地清單
    border: 1px solid #e8e8e8;
    border-radius: 8px;
    padding: 1em 1em;
    min-height: 300px;
    .item{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 4px 0;
      // background: #eee;
      padding: .5em;
      h4{
        margin: 0;
        b{
          margin-right: 6px;
        }
        span{
          margin-left: 6px;
        }
      }
    }
    .Btns{
      display: flex;
      justify-content: center;
      a{
        width: auto;
        font-size: 1em;
        padding: 8px 12px;
        margin: 1px;
        border-radius: 0;
        font-size: 0;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        &:hover, &:focus-visible{
          filter: invert(1);
        }
        &.btn_delet{
          background: url(../images/icon_delet.svg) 50% 50% no-repeat #eee;
          background-size: 24px;
        }
        &.btn_edit{
          background: url(../images/icon_edit.svg) 50% 50% no-repeat #eee;
          background-size: 24px;
        }
      }
    }
  }
  @include screen('tablet') {
    flex-direction: column;
  }
}
h3.listTitle{
  font-size: 1.5em;
}
.Btns{
  // 複製一包出來共用
  display: flex;
  justify-content: center;
  a{
    width: auto;
    font-size: 1em;
    padding: 8px 12px;
    margin: 1px;
    border-radius: 0;
    font-size: 0;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    &:hover, &:focus-visible{
      filter: invert(1);
    }
    &.btn_delet{
      background: url(../images/icon_delet.svg) 50% 50% no-repeat #eee;
      background-size: 24px;
    }
    &.btn_edit{
      background: url(../images/icon_edit.svg) 50% 50% no-repeat #eee;
      background-size: 24px;
    }
  }
}
a.blackLink{
  background: #222;
  color: #fff;
  padding: 6px 20px;
  margin: 0 10px 10px;
  border-radius: 20px;
  display: inline-block;
  transition: .3s;
  &:hover, &:focus-visible{
    background: $importantColor;
  }
}

label{
  + .notice{
    padding-left: 1.8em;
  }
  + .form_grp{
    // background: pink;
    padding: 0 0 0 1.8em !important;
    border-bottom: none !important;
    align-items: flex-start !important;
    label{
      margin-top: 14px;
    }
    label, .form_content{
      flex-basis: auto !important;
    }
  }
}

// 房屋稅
.houseWorth{
  display: inline-block;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  // background: #f0f0f0;
  color: #222;
  font-size: 1.5em;
  padding: 1em 1.5em;
  border-radius: 4px;
  margin: 12px 0 20px;
  b{
    padding: 0 6px;
    color: $importantColor;
  }
}

// 右側邊步驟欄
.Rside_steps{
  position: fixed;
  z-index: 1;
  // width: 200px;
  // height: 300px;
  top: 50vh;
  right: 60px;
  transform: translateY(-50%);
  ul{
    @include li-reset;
    li{
      margin: 6px 0;
    }
  }
  a{
    display: block;
    text-align: center;
    padding: 6px 10px;
    color: #222;
    font-weight: bold;
    background: #fff;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    transition: .3s;
    b{
      display: block;
      color: #666;
      font-size: 95%;
      &.finish{
        color: $importantColor;
      }
    }
    &:hover, &:focus-visible{
      box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    }
  }
  @include screen('tablet') {
    display: none;
  }
}

////////////////////////////////////////////////////////////
// 為了與首頁區隔，請在內頁加上innerpage ClassName
.innerpage {
  > .container {
    @include gutter(); //gutter 代表左右要留白
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    align-items: flex-start;
  }

  .center_block {
    flex: none;
    flex-basis: 100%;
    max-width: 100%;
  }

  .left_block {
    flex: none;
    flex-basis: 260px;
    max-width: 260px;
    margin-right: 40px;

    &.stickySidebar {
      position: sticky;
      top: 50px;
    }

    &.hidden {
      + .center_block {
        flex: none;
        flex-basis: 100%;
        max-width: 100%;
      }
    }

    + .center_block {
      flex: auto;
      flex-basis: calc(100% - 300px);
      max-width: calc(100% - 300px);
    }

    @include screen('tablet') {
      display: none;

      + .center_block {
        flex: none;
        flex-basis: 100%;
        max-width: 100%;
      }
    }
  }

  .lp{
    position: relative;
  }
  .right_block{
    width: calc(100% - 300px);
    position: absolute;
    right: 0;
    top: 0;

    @include screen('tablet'){
      width: 100%;
      position: initial;
    }
  }

  // 字級切換 與 .main 共用
  // &.small_size {
  //   font-size: .938em;
  // }

  // &.large_size {
  //   font-size: 1.125em;
  // }
}

.hidden {
  display: none;
}