* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  &.noscroll {
    position: static !important;
    width: 100%;
    height: 100%;
    overflow: hidden !important;
    overflow-y: hidden !important;
    margin: 0;
    padding: 0;
  }
}

// 最外圍預設為100%
.wrapper {
  width: 100%;
  margin: 0px auto;

  @include screen('tablet') {
    padding-top: 60px;
    background: #FFF;
    overflow: hidden;
    overflow-y: auto;
  }
}

// 整體共用container樣式，請注意首頁切版頁面的整齊
.container {
  padding: 0;
  margin: 0 auto;
  max-width: $container-max; //請看_variable.scss

  @include gutter(2em);
}

.main {
  position: relative;
  margin: 0 auto;
  // 可先設定一個中央區塊最大寬，限制accesskey對齊
  h2 {
    line-height: 1.25em;
  }
}

// 懸停按鈕
.R_side_fixed{
  position: fixed;
  // right: calc((100% - 1200px) / 2 - 46px);
  right: 4px;
  top: 28%;
  z-index: 97;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  $_size: 46px;
  a{
    display: flex;
    align-items: center;
    border-radius: $_size;
    color: #fff;
    position: relative;
    img{
      position: absolute;
      right: 4px;
      z-index: 2;
    }
    span{
      right: 0;
      opacity: 0;
      line-height: $_size;
      font-size: 0;
      background: #ce4734;
      padding: 0 23px 0 23px;
      border-radius: $_size;
      word-break: keep-all;
      overflow: hidden;
      transition: .3s;

      // opacity: 1;

    }
    &._tiptool{
      span{
        // background: pink;
        // position: absolute;
        color: #222;
        background: rgba(255,255,255,1);
        padding: 6px 12px;
        border-radius: 6px;
        width: 140px;
        right: 60px;
        font-size: .9em;
        line-height: 1.4;
        // opacity: 1;
        width: 36px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        b{
          color: $importantColor;
        }
        &:before{
          content: '';
          position: absolute;
          border: 4px solid #fff;
          right: -4px;
          top: 23px;
          transform: rotate(45deg);
        }
      }
      // position: absolute;
      // color: #222;
      // background: rgba(255,255,255,1);
      // padding: 6px 12px;
      // border-radius: 6px;
      // width: 140px;
      // right: 60px;
      // font-size: .9em;
      // line-height: 1.4;
      // b{
      //   color: $importantColor;
      // }
      // &:before{
      //   content: '';
      //   position: absolute;
      //   border: 4px solid #fff;
      //   right: -4px;
      //   top: 23px;
      //   transform: rotate(45deg);
      // }
    }
    transition: .3s;
    &:hover, &:focus-visible{
      width: auto;
      span{
        right: 0;
        opacity: 1;
        padding: 0 $_size 0 20px;
        width: 100%;
        font-size: 1.125em;
      }
      &._tiptool{
        span{
          padding: 6px 12px;
          width: 140px;
          font-size: .9em;
          line-height: 1.4;
          margin-right: 60px;
          &:before{
            right: 56px;
          }
        }
      }
    }
  }
  &::after{
    content: '';
    position: absolute;
    z-index: -1;
    right: -2px;
    top: -4px;
    width: calc($_size + 4px);
    height: calc($_size * 6 + 8px);
    background: #fff;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  }
  @media screen and (max-width: 1300px) {
    right: 0;
  }
}

// filter
.filter{
  padding: 1.25em 5em;
  background: #e6f6fb;
  margin: 1em 0;
  border-radius: 6px;
  .btn_grp{
    padding: 0;
    .btn{
      margin: .35em .1em;
      border-radius: 40px;
      padding: .65em 3em;

      &.btn-reset{
        background: #fff;
      }
    }
  }
  .flex-form{
    border-bottom: none;
    .form_grp{
      border-bottom: none;
      padding: 0;
    }
    .form_title{
      color: #222;
      font-size: 1.125em;
      font-weight: bold;
      max-width: initial;
      flex: 0 1 auto;
    }
    .form_content{
      max-width: initial;

      &._fill{
        display: flex;
        input[type="text"]{
          flex: 1 1 auto;
        }
      }
    }
  }
  // checkbox be btn
  .check_grp{
    .btn{
      border-radius: 4px;
      padding: 12px 20px;
      margin: 2px 4px !important;
      color: #222;
      background: transparent;
      border-radius: 6px;
      border-color: transparent;

      // checked style。input 選取框鋪在『標籤文字』下
      position: relative;
      // overflow: hidden;

      input[type=checkbox]{
        // opacity: .5;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: #cce2f6;
        border: none;
        border-radius: 6px;
        margin: 0;
        left: 0;

        &:checked,
        &:focus {
          background-image: none;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 100%;
          box-shadow: none;

          // checked 背景色
          background-image: linear-gradient(to right, #0f67b1 0%, #4491c8 100%);
          +span{
            // 『標籤文字』
            color: #fff;
          }
          // checked 狀態圓圈
          &~span {
            &:after {
              background: $aFocus;
              opacity: 0; // 隱藏
            }
          }
        }

        &:focus{
          // 鍵盤遊走
          box-shadow: 0 0 0 3px #ce4734
        }
      }

      &:hover{
        color: #fff;
        input[type="checkbox"]{
          background-image: linear-gradient(to right, #0f67b1 0%, #4491c8 100%);
        }
      }
      // &:focus{
      //   input[type="checkbox"]{
      //     box-shadow: 0 0px 0px 2px #ce4734
      //   }
      // }
      // &:focus, &:focus-visible,
      // &._checked{
      //   color: #fff;
      //   background: $aFocus;
      // }
    }
  }
}

// 複查案例 case
.case{
  ._head{
    background: $primaryColor;
    color: #fff;
    border-radius: 10px 10px 0 0;
    padding: .65em 2.5em;
    display: flex;
    h3{
      font-size: 1.125em;
      margin: 4px 0;
      padding-right: 20px;
      flex: 0 1 auto;
      word-break: keep-all;
    }
    ._inner{
      flex: 1 1 auto;

      display: flex;
      align-items: center;
      ._info{
        span, time{
          font-size: 1em;
          padding: 0 12px;
          word-break: keep-all;
        }
      }
      ._tag{
        padding-left: 12px;
        span{
          display: inline-block;
          font-size: .9em;
          font-weight: bold;
          color: #fff;
          word-break: keep-all;
          background: rgba(255,255,255,.35);
          padding: 4px 12px;
          border-radius: 30px;
        }
      }
    }
  }
  ._content{
    margin-bottom: 1em;
    padding: 1em 2em;
    ._item{
      display: flex;
      padding: 6px 0;
      h4{
        font-size: 1em;
        margin: 0;
        flex: 0 1 auto;
        word-break: keep-all;
        padding-right: 12px;
        min-width: 80px;
        text-align: right;
      }
      p{
        font-size: 1em;
        // line-height: 1.4;
        margin: 0;
      }
    }
  }
  .btn_grp{
    justify-content: flex-end;
    padding-bottom: 0;
  }
  .main_more{
    padding: .5em 3em;
  }

  @include screen('tablet') {
    ._head{
      ._inner{
        // background: #000;
        flex-wrap: wrap;
        ._tag{
          span{
            margin-top: 3px;
          }
        }
      }
    }
  }
} 


////////////////////////////////////////////////////////////
// 為了與首頁區隔，請在內頁加上innerpage ClassName
.innerpage {
  > .container {
    @include gutter(); //gutter 代表左右要留白
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    align-items: flex-start;
  }

  .center_block {
    flex: none;
    flex-basis: 100%;
    max-width: 100%;
  }

  .left_block {
    flex: none;
    flex-basis: 260px;
    max-width: 260px;
    margin-right: 40px;

    &.stickySidebar {
      position: sticky;
      top: 50px;
    }

    &.hidden {
      + .center_block {
        flex: none;
        flex-basis: 100%;
        max-width: 100%;
      }
    }

    + .center_block {
      flex: auto;
      flex-basis: calc(100% - 300px);
      max-width: calc(100% - 300px);
    }

    @include screen('tablet') {
      display: none;

      + .center_block {
        flex: none;
        flex-basis: 100%;
        max-width: 100%;
      }
    }
  }

  &.small_size {
    font-size: .938em;
  }

  &.large_size {
    font-size: 1.125em;
  }
}

.hidden {
  display: none;
}